body {
    background-color: #FCFCFC;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #4C4840;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

.container {
    max-width: 90%;
    /* background-color: lightblue; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
}

img {
    height: 17em;
    width: auto;
    margin-bottom: 10px;
}

.grid {
    text-align: center;
    height: 100%;
}

.name {
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.email {
    text-transform: uppercase;
    color: #9c9c9c;
    font-size: 14px;
    font-weight: lighter;
}

.underlined_text {
    border-bottom: solid 2px green;
    padding-bottom: 3px;
    margin: auto;
}

.strAddress {
    padding-top: 1em;
}

.strAddress, .address, .phone {
    color: darkslategray;
    line-height: .5em;
    font-size: 14px;
}

.ssn {
    color: green;
    font-size: 12px;
    padding-top: 1.5em;
}